<form [formGroup]="demoForm" (ngSubmit)="onSubmit(demoForm)" novalidate>
  <p>A general purpose library for building credit card forms, validating inputs and formatting numbers.</p>
  <div class="form-group">
    <label for="cc-number" class="control-label">Card number formatting <small class="text-muted">[<span class="cc-brand"></span>]</small></label>
    <input id="cc-number" formControlName="creditCard" type="tel" class="input-lg form-control cc-number" autocomplete="cc-number" placeholder="•••• •••• •••• ••••" ccNumber>
  </div>

  <div class="form-group">
    <label for="cc-exp" class="control-label">Card expiry formatting</label>
    <input id="cc-exp" formControlName="expDate" type="tel" class="input-lg form-control cc-exp" autocomplete="cc-exp" placeholder="•• / ••" ccExp>
  </div>

  <div class="form-group">
    <label for="cc-cvc" class="control-label">Card CVC formatting</label>
    <input id="cc-cvc" formControlName="cvc" type="tel" class="input-lg form-control cc-cvc" autocomplete="off" placeholder="•••" required ccCVC>
  </div>
  <button type="submit" class="btn btn-lg btn-primary">Submit</button>
  <div class="errors" *ngIf="submitted">
    <div *ngIf="!demoForm.controls.creditCard.valid" class="alert alert-danger">Credit Card is invalid</div>
    <div *ngIf="!demoForm.controls.expDate.valid" class="alert alert-danger">Expiration Date is required</div>
    <div *ngIf="!demoForm.controls.cvc.valid" class="alert alert-danger">CVC is required</div>
  </div>
</form>

